{%extends 'base.html'%}
{%load bootstrap4%}
{% block content %}
{{block.super}}
{%include "navbar.html"%}
<h1 class="text-center">Daunting me just like that</h1>

<!-- dummy posts to see outlook of my site -->

<div class="container">
  <div class="row">
    <div class="column">
      <div class="card hover">
        <img src="https://images.pexels.com/photos/2331573/pexels-photo-2331573.jpeg?auto=compress&cs=tinysrgb&dpr=1" class="card-img" alt="..." width="100%">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text text-center opacity">VOTE NOW</p>

        </div>
        <div class="card-body">
          <h5>Name of application</h5>
          <h6>Posted on 25th/05/19</h6>
          <hr>
          <p class="text-muted">By:<b>Hussein Fuaad</b></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card hover">
        <img src="https://images.pexels.com/photos/2331573/pexels-photo-2331573.jpeg?auto=compress&cs=tinysrgb&dpr=1" class="card-img" alt="..." width="100%">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text text-center opacity">VOTE NOW</p>
        </div>
        <div class="card-body">
          <h5>Name of application</h5>
          <h6>Posted on 25th/05/19</h6>
          <hr>
          <p class="text-muted">By:<b>Hussein Fuaad</b></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card hover">
        <img src="https://images.pexels.com/photos/2331573/pexels-photo-2331573.jpeg?auto=compress&cs=tinysrgb&dpr=1" class="card-img" alt="..." width="100%">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text text-center opacity">VOTE NOW</p>

        </div>
        <div class="card-body">
          <h5>Name of application</h5>
          <h6>Posted on 25th/05/19</h6>
          <hr>
          <p class="text-muted">By:<b>Hussein Fuaad</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
