{%extends 'base.html'%}
{%load bootstrap4%}
{{block.super}}
{% block content %}
{%include "navbar.html"%}
  <div class="container">
    <div class="row">


        <div class="card padawan parra">
            <div class="hover">
              <img src="{{project.landing_page.url}}" class="card-img hover" alt="img" width="100%">
              <div class="card-img-overlay">
                <a href="{{project.link}}" target="_blank"><p class="card-text text-center opacity">VISIT SITE</p></a>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5>{{project.title}}</h5>
              </div>
              <div class="card-body">
                <p>{{project.description}}</p>
                <h6>Posted on 25th/05/19</h6>
                <hr>
                <p class="text-muted">By:<b>Hussein Fuaad</b></p>
              </div>
            </div>


      </div>

      <div class="card side" >
        <h4>What are your thoughts on "{{project.title}}"</h4><br>
        <p class="text-center"><b>(*from 1-10)</b></p>
        <form class="" action="index.html" method="post">
          <input type="text" name="" value="" placeholder="Design" class="input"><br><br>
          <input type="text" name="" value="" placeholder="Usability" class="input"><br><br>
          <input type="text" name="" value="" placeholder="Content" class="input">
        </form>
      </div>



  </div>

{%endblock%}
