{%extends 'base.html'%}
{%load bootstrap4%}
{{block.super}}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="column">

        <div class="card padawan">
            <div class="hover">
              <img src="{{project.landing_page.url}}" class="card-img hover" alt="img" width="100%">
              <div class="card-img-overlay">
                <a href="{{project.link}}"><p class="card-text text-center opacity">VISIT SITE</p></a>
            </div>
          </div>
          <div class="card-body">
            <h5>{{project.title}}</h5>
            <p>{{project.description}}</p>
            <h6>Posted on 25th/05/19</h6>
            <hr>
            <p class="text-muted">By:<b>Hussein Fuaad</b></p>
          </div>
        </div>

      </div>
    </div>
  </div>

{%endblock%}
